<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled"     value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
    </settings>

    <!-- typeAliases 추가 -->
    <typeAliases>
        <typeAlias type="kr.onthelive.training.model.BaseUser" alias="BaseUser" />
        <typeAlias type="kr.onthelive.training.model.support.BaseUserType" alias="BaseUserType" />
        <typeAlias type="kr.onthelive.training.model.BaseRoomUserHistory" alias="BaseRoomUserHistory" />
        <typeAlias type="kr.onthelive.training.model.BaseRoomUser" alias="BaseRoomUser" />
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="kr.onthelive.training.repository.typehandler.BooleanYnTypeHandler" javaType="Boolean" />
    </typeHandlers>

    <!-- mapper 추가 -->
    <mappers>
        <mapper resource="mybatis/mapper/mariadb/UserMapper.xml" />
        <mapper resource="mybatis/mapper/mariadb/RoomUserHistory.xml" />
        <mapper resource="mybatis/mapper/mariadb/RoomUser.xml" />
    </mappers>
</configuration>