<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.onthelive.training.repository.mapper.RoomMapper">
    <resultMap id="BaseRoomResultMap" type="BaseRoom">
        <id property="id"                       column="id" />
        <result property="title"                column="title" />
        <result property="publisherId"          column="publisher_id" />
        <result property="description"          column="description" />
        <result property="password"             column="password" />
        <result property="maximum"              column="maximum" />
        <result property="state"                column="state" />
        <result property="streamUrl"            column="stream_url" />
        <result property="startTime"            column="start_time" />
        <result property="link"                 column="link" />
        <result property="createdDatetime"      column="created_datetime" />
        <result property="updatedDatetime"      column="updated_datetime" />
    </resultMap>

    <resultMap id="BaseSimpleRoomResultMap" type="BaseSimpleRoom">
        <id property="id"                       column="id" />
        <result property="title"                column="title" />
        <result property="publisherId"          column="publisher_id" />
        <result property="description"          column="description" />
        <result property="maximum"              column="maximum" />
        <result property="state"                column="state" />
        <result property="streamUrl"            column="stream_url" />
        <result property="startTime"            column="start_time" />
        <result property="link"                 column="link" />
        <result property="createdDatetime"      column="created_datetime" />
        <result property="updatedDatetime"      column="updated_datetime" />
    </resultMap>



    <!-- select -->
    <!--    <select id="selectRoom" parameterType="String" resultMap="BaseRoomResultMap">-->
    <select id="selectRoomList" parameterType="String" resultMap="BaseRoomResultMap">
        SELECT id,
               title,
               publisher_id,
               description,
               password,
               maximum,
               state,
               stream_url,
               start_time,
               link,
               created_datetime,
               updated_datetime
        FROM rooms
        ORDER BY id DESC
    </select>

    <select id="selectRoomById" parameterType="String" resultType="BaseRoomUserName">
        SELECT rooms.id,
               rooms.title,
               rooms.publisher_id as publisherId,
               rooms.description,
               rooms.password,
               rooms.maximum,
               rooms.state,
               rooms.stream_url as streamUrl,
               rooms.start_time as startTime,
               rooms.link,
               rooms.created_datetime as createdDatetime,
               rooms.updated_datetime as updatedDatetime,
               users.name
        FROM rooms
                 JOIN users
                      ON rooms.publisher_id = users.id
        WHERE rooms.id = #{value}
    </select>

    <select id="selectRoomByStreamUrl" parameterType="String" resultMap="BaseRoomResultMap">
        SELECT id,
               title,
               publisher_id,
               description,
               password,
               maximum,
               state,
               stream_url,
               start_time,
               link,
               created_datetime,
               updated_datetime
        FROM rooms
        WHERE stream_url = #{value}
    </select>

    <insert id="insertRoom" parameterType="BaseRoom" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO rooms (
            title,
            publisher_id,
            description,
            password,
            maximum,
            state,
            stream_url,
            start_time,
            link,
            created_datetime,
            updated_datetime
        ) VALUES (
                     #{title},
                     #{publisherId},
                     #{description},
                     #{password},
                     #{maximum},
                     #{state},
                     #{streamUrl},
                     #{startTime},
                     #{link},
                     NOW(),
                     NOW()
                 )
    </insert>

    <update id="updateRoomState" parameterType="map">
        UPDATE rooms
        SET state = #{state}
        WHERE id = #{id}
    </update>

</mapper>
