<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.onthelive.training.repository.mapper.RoomUserMapper">
    <resultMap id="BaseRoomUserResultMap" type="BaseRoomUser">
        <id property="id"                       column="id" />
        <result property="roomId"                column="room_id" />
        <result property="publisherId"             column="publisher_id" />
        <result property="playerId"             column="player_id" />
        <result property="state"                 column="state" />
        <result property="streamUrl"            column="stream_url" />
        <result property="createdDatetime"      column="created_datetime" />
        <result property="updatedDatetime"      column="updated_datetime" />
    </resultMap>

    <select id="selectRoomUser" parameterType="String" resultMap="BaseRoomUserResultMap">
        SELECT id,
               room_id,
               publisher_id,
               player_id,
               state,
               stream_url,
               created_datetime,
               updated_datetime
        FROM room_users
        WHERE id = #{value}
    </select>

    <select id="selectRoomUserListByRoomId" parameterType="String" resultType="BaseRoomUserWithUserName">
        SELECT room_users.id,
               room_users.room_id as roomId,
               room_users.publisher_id as publisherId,
               room_users.player_id as playerId,
               room_users.state,
               stream_url,
               room_users.created_datetime as createdDatetime,
               room_users.updated_datetime as updatedDatetime,
               users.name
        FROM room_users
            JOIN users
                ON room_users.player_id = users.id
        WHERE room_id = #{value}
        ORDER BY room_users.player_id
    </select>

    <select id="countRoomUserByRoomIdAndPlayerId" parameterType="map" resultType="int">
        SELECT count(*)
        FROM room_users
        WHERE room_id = #{roomId}
        AND player_id = #{playerId}
    </select>

    <select id="selectRoomUserByStreamUrl" parameterType="String" resultType="int">
        SELECT count(*)
        FROM room_users
        WHERE stream_url = #{value}
    </select>

    <insert id="insertRoomUser" parameterType="BaseRoomUser" >
        INSERT INTO room_users (
            id,
            room_id,
            publisher_id,
            player_id,
            state,
            stream_url,
            created_datetime,
            updated_datetime
        ) VALUES (
                     #{id},
                     #{roomId},
                     #{publisherId},
                     #{playerId},
                     #{state},
                     #{streamUrl},
                     NOW(),
                     NOW()
                 )
    </insert>

    <update id="updateRoomUserStreamUrl" parameterType="BaseRoomUser" >
        update room_users
            set stream_url = #{streamUrl}
        WHERE room_id = #{roomId}
          AND player_id = #{playerId}
    </update>

    <select id="selectRoomUserWithUrl" parameterType="BaseRoomUser" resultMap="BaseRoomUserResultMap">
        SELECT id,
               room_id,
               publisher_id,
               player_id,
               state,
               stream_url,
               created_datetime,
               updated_datetime
        FROM room_users
        WHERE room_id = #{roomId} AND player_id = #{playerId}
    </select>
</mapper>