<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.onthelive.training.repository.mapper.RoomUserMapper">
    <resultMap id="BaseRoomUserResultMap" type="BaseRoomUser">
        <id property="id"                       column="id" />
        <result property="roomId"                column="room_id" />
        <result property="publisherId"             column="publisher_id" />
        <result property="playerId"             column="player_id" />
        <result property="state"                 column="state" />
        <result property="createdDatetime"      column="created_datetime" />
        <result property="updatedDatetime"      column="updated_datetime" />
    </resultMap>

    <!-- select -->
    <select id="selectRoomUser" parameterType="String" resultMap="BaseRoomUserResultMap">
        SELECT id,
               room_id,
               publisher_id,
               player_id,
               state,
               created_datetime,
               updated_datetime
        FROM room_users
        WHERE id = #{value}
    </select>

    <!-- insert -->
    <insert id="insertRoomUser" parameterType="BaseRoomUser" >
        INSERT INTO room_users (
            id,
            room_id,
            publisher_id,
            player_id,
            state,
            created_datetime,
            updated_datetime
        ) VALUES (
                     #{id},
                     #{roomId},
                     #{publisherId},
                     #{playerId},
                     #{state},
                     NOW(),
                     NOW()
                 )
    </insert>
</mapper>