<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.onthelive.training.repository.mapper.RoomUserHistoryMapper">
    <resultMap id="BaseRoomUserHistoryResultMap" type="BaseRoomUserHistory">
        <id property="id"                       column="id" />
        <result property="roomId"                column="room_id" />
        <result property="playerId"             column="player_id" />
        <result property="state"                 column="state" />
        <result property="createdDatetime"      column="created_datetime" />
    </resultMap>

    <!-- select -->
    <select id="selectRoomUserHistory" parameterType="String" resultMap="BaseRoomUserHistoryResultMap">
        SELECT id,
               room_id,
               player_id,
               state,
               created_datetime
        FROM room_user_histories
        WHERE id = #{value}
    </select>

    <!-- insert -->
    <insert id="insertRoomUserHistory" parameterType="BaseRoomUserHistory" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO room_user_histories (
            room_id,
            player_id,
            state,
            created_datetime
        ) VALUES (
                     #{roomId},
                     #{playerId},
                     #{state},
                     NOW()
                 )
    </insert>
    
    
    <insert id="insertRoomUserHistoryOnProgressByPublisher" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO room_user_histories (
            room_id,
            player_id,
            state,
            created_datetime
        ) VALUES
              <foreach collection="list" item="item" separator=",">
                    (#{item.roomId}, #{item.playerId}, 'Progress', #{item.createdDatetime})
              </foreach>
    </insert>

    <insert id="insertRoomUserHistoryOnCompleteByPublisher" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO room_user_histories (
            room_id,
            player_id,
            state,
            created_datetime
        ) VALUES
            <foreach collection="list" item="item" separator=",">
                (#{item.roomId}, #{item.playerId}, 'Complete', #{item.createdDatetime})
            </foreach>
    </insert>




    
</mapper>